.home-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.home-decoration {
   overflow: auto;
   scroll-behavior: unset;
   padding: 15px;
}
